<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Houston - ¡We have an ERROR!</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
	<p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 64px; font-weight: bold;"><%= msj %></p>	
	<a href="/" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;">Volver al home</a>
    <img src="/images/stop.png" alt="stop" width="500px" height="500px">
</body>
</html>