<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Home Page</h1>
	<h2>Ingrese Nombre Admin:</h2>
	<form action="/admin" method="GET" style="margin: 15px;">
		<input type="text" name="user" placeholder="Ingrese Nombre Admin">
		<button type="submit">Entrar</button>
	</form>
	<img src="/images/node.jpg" width="60%">
</body>
</html>